
*, 
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #1dd8cf;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body:1rem;

    --bs: 0.25em 0.25em 0.1em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0, .15)
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}


/* Settings to prevent image issues and overflow  */
img {
    display: block;
    max-width: 100%;
    
}

strong {font-weight: var(--fw-bold)}

:focus {
    outline: 5px solid var(--clr-accent);
    outline-offset: 3px;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 1em 2.5em;
    margin-top: 1em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

}

.btn:hover {
    transform: scale(1.1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

section {
    padding: 5em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;

}

h1 {font-size: var(--fs-h1)}

h2 {font-size: var(--fs-h2)}

h3 {font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;

}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}


.section__subtitle {
    margin:0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .5em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}


/* Nav Section*/


#brand-image {
    max-width: 3em;
    background-color: var(--clr-light);
}

.navbar-nav {
    text-align: center;
}

/* Intro Section */


.intro {
    position: relative;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
     
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.intro__img {
    box-shadow: var(--bs);

}

.section__subtitle--intro {
    display: inline-block;

}




/* MEDIA AT 600 */

@media (min-width:600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 200px;
        max-width: 300px;
        z-index:2;
        border-radius: 10px;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);

    }

}

.my-tech-stack {
    background-color: var(--clr-dark);
    background-image: url(../img/keyboard1.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    
}

.section__title--tech-stack {
    color: var(--clr-accent);
    position: relative;
}

.section__title--tech-stack::after {
    content:'';
    display: block;
    width: 2em;
    height:2px;
    margin: 0.5em auto 1em;
    background: rgb(43, 233, 138);
    opacity: 0.15;
}


.technology-stack {
    max-width: 500px;
    margin: 0 auto;
}


.technology-stack{
    margin-bottom: 5em;
}



.tech__column{
    font-size: var(--fs-h3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
    text-transform:uppercase;
    text-align: center;
    border: solid red 2px;
 
 }

 .tech__card {
     list-style: none;
     margin-bottom: 1em;
     margin-left: 1em;
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 300px;
     max-width: 400px;
     color: var(--clr-dark);
     box-shadow: var(--bs);
     transition: transform 200ms ease-in-out;
     background-color: transparent;
     box-shadow: 0.25em 0.25em .5em rgba(21, 247, 141, 0.1),
     0.125em 0.125em 0.25em rgba(39, 38, 38, 0.384);
     color: white;
     font-size: var(--fs-h3);
     text-transform: uppercase;
     padding: 10px;
 }
 .tech__card:hover {
    transform: scale(1.1);
 }
 




/* MEDIA AT 800 */
@media (min-width: 800px) {
    .technology-stack {
        display: flex;
        min-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .column + .column {
        margin-left: 5em;
        
    }

    .tech__column {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}




/* ABOUT ME SECTION */

.about-me {
    max-width: 1000px;
    margin:0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 10px;
}

@media (min-width :600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;

    }

    .section__title--about {
        grid-area: title;

    }

    .section__subtitle--about {
        grid-column: 1 /-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 4em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }

    .about-me__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }


}

/* My Projects */

.my-projects {
    background-color: var(--clr-dark);
    background-image: url(../img/keyboard1.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
}


/* Project Cards */
.section__title--projects{
    text-align: center;
    color: var(--clr-accent);
}

.section__title--projects::after {
    content:'';
    display: block;
    width: 3em;
    height:2px;
    margin: 0.5em auto 1em;
    background: rgb(43, 233, 138);
    opacity: 0.15;

}
.portfolio {
 
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.card {
  
    margin-top: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    color: var(--clr-dark);
    box-shadow: var(--bs);
    transition: transform 200ms ease-in-out;
    background-color: var(--clr-dark);
    box-shadow: 0.25em 0.25em .5em rgba(21, 247, 141, 0.1),
    0.125em 0.125em 0.25em rgba(39, 38, 38, 0.384);
    color: white;

}


.card-title {
    margin-top: .8em;
    text-align: center;

}

.card-title::after {
    content:'';
    display: block;
    width: 8em;
    height:2px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.4;
}

.card:hover {
    transform: scale(1.1);
}

.card-text--03 {
    margin-bottom: 3.8em;
}



/* Footer */

.footer {
    background-color: rgb(2, 2, 2);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

    

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover 
.social-list__link:hover {
  text-decoration:underline;
  transform: scale(1.1);
}


.contact {
    text-align: center;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.made-by-me {
    margin-top: 4em;
    font-size: 0.6em;
    color: 

}
